include html/Header2.html
html
    head
        meta(charset='UTF-8')
        body
            a(style='color: white; text-decoration: none; position: relative; top: -30px; left: 1400px' href='/home')  Logout
            div(class="container-md")
                div(class="reportName") Employee Report For: Suzie Lee
                    button(type="button"  onclick="location.href='/employeeList'") Back
                    div(class="reportContainer") Vacation Days (VD)
                        p
                        div(class="reportHeader")
                            table(class="reportTable")
                                tbody
                                    tr
                                    td Available
                                    td Used
                                    td Total
                                    td Dates
                                    tr
                                    tr
                                    td 10
                                    td 0
                                    td 10
                            table(class="piReport")
                                tbody
                                    tr
                                    td(class="pie") 100
                    div(class="reportContainer") Sick Days (SD)
                        p
                        div(class="reportHeader")
                            table(class="reportTable")
                                tbody
                                    tr
                                    td Available
                                    td Used
                                    td Total
                                    td Dates
                                    tr
                                    tr
                                    td 7
                                    td 1
                                    td 8
                                    td June 24, 2022
                            table(class="piReport")
                                tbody
                                    tr
                                    td(class="pie") 100
                        div(class="reportContainer") Personal Days (PD)
                            p
                            div(class="reportHeader")
                                table(class="reportTable")
                                    tbody
                                        tr
                                        td Available
                                        td Used
                                        td Total
                                        td Dates
                                        tr
                                        tr
                                        td 3
                                        td 2
                                        td 5
                                        td October 3, 2022
                                            div November 4, 2022
                                table(class="piReport")
                                    tbody
                                        tr
                                        td(class="pie") 100
                    br

